.App {
  text-align: center;
  background-color: whitesmoke;
  height: 100vh;
  font-size: 5vh;
  font-family: 'Mountains of Christmas', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    color: transparent;
    font-size: 0;
  }
}

.homepage {
  justify-content: center;
  padding: 5%;
  margin-bottom: -7%;
}

div.Background-Image {
  display: block;
  position: relative;
  height: 100%;
}

div.Background-Image::after {
  content: "";
  background: url("Piefaceshowdown.jpg");
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;   
  border-top-left-radius: 36%;
  border-bottom-right-radius: 24%;
}

.wertqyuio-li {
  position: absolute;
  right: 1vh;
  bottom: 0;
  z-index: 2;
}

.wertqyuio-li-2 {
  position: absolute;
  right: 1vh;
  bottom: 6vh;
  z-index: 2;
}

a {
  padding-left: 1vh;
  color: black;
}

.current-page {
  font-size: 3.3vh;
  position: absolute;
  left: 1vh;
  top: 1vh;
  text-decoration: underline;
}

.internal-links {
  font-size: 3.2vh;
  position: absolute;
  left: 24vh;
  top: 0;
  z-index: 10;
}

.internal-links-2 {
  font-size: 3.2vh;
  position: absolute;
  left: 17vh;
  top: 3.5vh;
  z-index: 10;
}

.internal-links-3 {
  font-size: 3.2vh;
  position: absolute;
  left: 10vh;
  top: 7vh;
  z-index: 10;
}

.internal-links-4 {
  font-size: 3.2vh;
  position: absolute;
  left: 2vh;
  top: 10.5vh;
  z-index: 10;
}


