.page-cards {
  display: none;
  margin-top: 10%;
  width: 30%;
  display: inline-flex;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10%;
  color: steelblue;
  font-size: xx-large;
  border-radius: 5%;
  background-color: ghostwhite;
}